{% extends 'base.html' %}
{% load files_tags %}
{% load i18n %}
{% block title %} {% translate "File Detail" %} {% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ file.original_file_name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong> {% translate " File Type:" %}</strong> {{ file.file_type }}</td>
                </tr>
                <tr>
                    <td><strong> {% translate "Created At:" %} </strong> {{ file.created_at  | date:"d/m/Y G:i" }}</td>
                </tr>
                {% if file.original_file_size > 0 %}
                <tr>
                    <td><strong> {% translate "Original Size:" %}</strong> {{ file.original_file_size | filesizeformat }}</td>
                </tr>
                {% else %}
                <tr>
                    <td> {% translate "File still uploading..." %}  </td>
                </tr>
                {% endif %}
                {% if file.convert_status == "converted" and file.converted_file_size >= 1%}
                    <tr>
                        <td> <strong> {% translate "Size after compression:" %}  </strong> {{ file.converted_file_size | filesizeformat }} ({% percent_reduction file.file.size file.converted_file_size %}% reduction)</td>
                    </tr>
                    <tr>
                        <td><strong> {% translate "Converted At:" %} </strong> {{ file.converted_at }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td><strong>{% translate "Convert Status:" %} </strong> {{ file.convert_status }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        {% if file.convert_status == "converted" %}
        <button id="download-button" class="btn btn-primary" type="button"> {% translate "Download" %} </button>
        {% else %}
        <button id="convert-button" class="btn btn-primary" type="button"> {% translate "Convert" %} </button>
        <button id="advanced-options-button" class="btn btn-secondary" type="button"> {% translate "Advanced options" %} </button>
        <div id="advanced-options" style="display: none;">
            <label for="compression"> {% translate "Compression level" %}</label>
            <select id="compression-rate" name="compression_rate">
                <option value="low"> {% translate "low" %} </option>
                <option value="medium" selected> {% translate "Medium" %} </option>
                <option value="high"> {% translate "High" %} </option>
            </select>
        </div>

    {% endif %}
    <button id="delete-button" class="btn btn-danger" type="submit"> {% translate "Delete" %} </button>
</div>
<div id="message"></div>
{% endblock %}

{% block inline_javascript %}
    {% include "files/file_detail_js.html" %}
{% endblock %}
