{% extends 'base.html' %}
{% block title %}Course Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ course.course_name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Created At:</strong> {{ course.created_at }}</td>
                </tr>
                <tr>
                    <td><strong>Description:</strong> {{ course.description }}</td>
                </tr>
            </tbody>
        </table>
        {% if course.files.all %}
        <h2>Associated Files ({{ course.files.count }})</h2>
            <ul>
            {% for file in course.files.all %}
            <li>{{ file.original_file_name }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
            <a href="{% url 'courses:detail' course_slug=course.slug %}">Cancel</a>
          </form>
        <button id="delete-button" class="btn btn-danger" type="submit">Delete</button>
    </div>

{% endblock %}
