{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="tuto-box">
  <h1> {% translate "Delete Folder" %}</h1>
  <p> {% translate "Are you sure you want to delete" %}  "{{ course.name }}"?</p>

  {% if course.files.all %}
    <h2> {% translate "Associated Files" %}  ({{ course.files.count }})</h2>
    <ul>
      {% for file in course.files.all %}
        <li>{{ file.original_file_name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Delete">
    <a href="{% url 'courses:detail' course_slug=course.slug %}"> {% translate "Cancel" %}</a>
  </form>
</div>
{% endblock %}
