{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Compress 4 e-learning{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="File compression for e-learning">
    <meta name="author" content="Ximena Salgado">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  type="text/css" href="{% static 'styles.css' %}"/>
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <!-- <link href="{% static 'css/project.css' %}" rel="stylesheet"> -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar center navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link navbar-brand" href="{% url 'home' %}"> Compress 4 e-learning <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'good-practices'  %}"> {% translate "Good Practices" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">{% translate "About" %}</a>
              </li>
              <li class="nav-item active">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == "fr" %}
                    <a class="nav-link" href=" https://www.youtube.com/playlist?list=PLPB2paFvF2lMdW0hGC-KpZ8fW1ZDFJyu2"  target="_blank"> YouTube <span class="visually-hidden">(current)</span></a>
                {% else %}
                     <a class="nav-link" href="https://www.youtube.com/playlist?list=PLPB2paFvF2lNUG_rfpS9ABF36e3WsC3a2" target="_blank"> YouTube <span class="visually-hidden">(current)</span></a>
                {% endif %}
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses:list'  %}"> {% translate "My Folders" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'files:list'  %}"> {% translate "My Files" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
              {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
                <div class="collapse navbar-collapse">
                  <form method="post" action="{% url 'set_language' %}" id="change-language-form">
                {% csrf_token %}
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdown-menu-link" data-bs-toggle="dropdown" aria-expanded="false">{% translate "Language" %}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-menu-link">
                      {% get_current_language as current_language_code %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                    <li class="dropdown-item">
                        <button type="submit" name="language" value="{{ language.code }}" class="{% if language.code == LANGUAGE_CODE %}font-weight-bold{% endif %} dropdown-item">{{ language.name_local | title }}</button>
                    </li>
                      {% endfor %}
                  </ul>
                    </li>
                </ul>
                  </form>
                </div>
            </ul>
          </div>
        </div>
      </nav>

    </div>
    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between  align-items-center py-3 my-4 border-top ">

             <p class="col-md-4 mb-0 text-muted">{% translate "This project was co-financed by DDC with Unité and implemented by the EXAF-EPFL team." %}</p>


      <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <a href="https://www.epfl.ch">
        <img  width="60" height="52" src="{% static 'images/logo_epfl.png' %}" alt="EPFL" class="img-fluid">
      </a>
      <div class="space"></div>
      <a href="https://www.epfl.ch" >
        <img  width="60" height="52" src="{% static 'images/logo_unite.png' %}" alt="EPFL" class="img-fluid">
      </a>
    </div>

      <ul class="nav col-md-4 justify-content-end">
        <!--<li class="nav-item"><a href="{% url 'about' %}#contact" class="nav-link px-2 text-muted"> {% translate "Contact us!" %}</a></li>-->
        <li class="nav-item"><a href = "mailto: exaf@epfl.ch" class="nav-link px-2 text-muted"> {% translate "Contact us!" %}</a></li>
        <li class="nav-item"><a href="{% url 'codesource' %}" class="nav-link px-2 text-muted"> {% translate "Code Source" %}</a></li>
      </ul>
    </footer>
  </div>
</html>
