{% extends 'base.html' %}
{% block title %}File Detail{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ file.original_file_name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>File Type:</strong> {{ file.file_type }}</td>
                </tr>
                <tr>
                    <td><strong>Created At:</strong> {{ file.created_at }}</td>
                </tr>
                <tr>
                    <td><strong>Convert status:</strong> {{ file.convert_status }}</td>
                </tr>
                {% if file.convert_status == "converted" %}
                    <tr>
                        <td><strong>Converted at:</strong> {{ file.converted_at }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if file.convert_status == "converted" %}
            <button id="download-button" class="btn btn-primary" type="button">Download</button>
        {% else %}
            <label for="compression">Compression level:</label>
            <select id="compression-rate" name="compression_rate">
                <option value="low">low</option>
                <option value="medium" selected>Medium</option>
                <option value="high">High</option>
            </select>
            <button id="convert-button" class="btn btn-primary" type="button">Convert</button>
        {% endif %}
    </div>
    <div id="message"></div>
{% endblock %}

{% block inline_javascript %}
<script>
    {% if file.convert_status == "converted" %}
        var downloadButton = $('#download-button');
        downloadButton.on('click', function() {
            $.getJSON("{% url 'api:file-generate-url' pk=file.id %}", function(data){
                var win = window.open(data.url, "_blank");
                win.focus();
            });
        });
    {% else %}
        var convertButton = $('#convert-button');
        var message = $('#message');
        var compressionRate = $('#compression-rate').val();
        convertButton.on('click', function() {
            message.html('Your file is converting.');
            $.ajax({
				url: "{% url 'api:file-convert' pk=file.id %}?compression_rate="+compressionRate,
				method: "POST",
                data: {},
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                success: function() {
					message.html('File conversion completed!');
                    window.location.replace("{% url 'files:file-converting' %}");
				},
                error: function(data) {
                    console.log(CSSStyleDeclaration)
					message.html(data.responseJSON.message);
				},
            });
        });
    {% endif %}
</script>
{% endblock %}
