<script>
    var fileInput = $('#input');
    var message = $('#message');
    var submitButton = $('#submit-button');
    var spinner = $('#uploading-spinner');

    submitButton.on('click', function() {
        var file = fileInput[0].files[0];

        if (file) {
            spinner.removeClass('hidden'); // display the spinner
            var fileName = file.name;
            var fileType = file.type;

            $.ajax({
            url: "{% url 'api:file-upload:upload:direct:start' %}",
            method: "POST",
            data: { file_name: fileName, file_type: fileType },
            success: function(response) {
                //var data = response.data;
                var postData = new FormData();
                var fields = response.fields;
                for (var key in fields){
                   postData.append(key, fields[key]);
                }
                postData.append('file', file);
                message.html('File is uploading');
                $.ajax({
                url: response.url,
                method: 'POST',
                data: postData,
                processData: false,
                contentType: false,
                success: function() {
                    $.ajax({
                    url: "{% url 'api:file-upload:upload:direct:finish' %}",
                    method: 'POST',
                    data: { file_id: response.id },
                    success: function() {
                        message.html('File upload completed!');
                        window.location.href="{% url 'files:latest-file' %}";
                        spinner.addClass('hidden'); // hide the spinner
                    },
                    error: function() {
                        message.html('1File upload failed!');
                        spinner.addClass('hidden');
                    }
                    });
                },
                error: function() {
                    message.html('2File upload failed!');
                     spinner.addClass('hidden');
                }
                });
            },
            error: function() {
                message.html('3File upload failed!');
                spinner.addClass('hidden');
            }
            });
        }
        });
   </script>
<script>
   var dropArea = $('#drop-area');

   dropArea.on('dragover', function(event) {
     event.preventDefault();
     dropArea.addClass('drag-over');
   });

   dropArea.on('dragleave', function(event) {
     event.preventDefault();
     dropArea.removeClass('drag-over');
   });

   dropArea.on('drop', function(event) {
     event.preventDefault();
     dropArea.removeClass('drag-over');
     fileInput[0].files = event.originalEvent.dataTransfer.files;
   });
   </script>
