{% extends 'base.html' %}
{% block title %}File Detail{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ file.file_name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>File Type:</strong> {{ file.file_type }}</td>
                </tr>
                <tr>
                    <td><strong>Created At:</strong> {{ file.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <button id="download-button" class="btn btn-primary" type="button">Download</button>
    </div>

<script>
    var downloadButton = $('#download-button');
    downloadButton.on('click', function() {
        $.getJSON("{% url 'api:file-generate-url' pk=file.id %}", function(data){
            var win = window.open(data.url, "_blank");
            win.focus();
        });
    });
</script>
{% endblock %}
