<script>
    {% if file.convert_status == "converted" %}
        var downloadButton = $('#download-button');
        downloadButton.on('click', function() {
            $.getJSON("{% url 'api:file-generate-url' pk=file.id %}", function(data){
                var win = window.open(data.url, "_blank");
                win.focus();
            });
        });
    {% else %}
        var convertButton = $('#convert-button');
        var message = $('#message');
        convertButton.on('click', function() {
            var compressionRate = $('#compression-rate').val();
            message.html('Your file is converting.', compressionRate);
            $.ajax({
				url: "{% url 'api:file-convert' pk=file.id %}?compression_rate="+compressionRate,
				method: "POST",
                data: {},
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                success: function() {
					message.html('File conversion completed!');
                    window.location.replace("{% url 'files:file-converting' %}");
				},
                error: function(data) {
                    console.log(CSSStyleDeclaration)
					message.html(data.responseJSON.message);
				},
            });
        });
    {% endif %}
    var deleteButton = $('#delete-button');
        deleteButton.on('click', function() {
            $.ajax({
               url: "{% url 'api:file-detail' pk=file.id %}",
               type: "DELETE",
               success: function(data){
                message.html('Successfully deleted');
                window.location.replace("{% url 'files:list' %}");
            }});
        });
</script>
<script>
    const advancedOptionsButton = document.getElementById('advanced-options-button');
    const advancedOptions = document.getElementById('advanced-options');
    advancedOptionsButton.addEventListener('click', () => {
        if (advancedOptions.style.display === 'none') {
            advancedOptions.style.display = 'block';
        } else {
            advancedOptions.style.display = 'none';
        }
    });
</script>
